<ion-card>
      <ion-card-header color="primary">
    <ion-card-title><h3><strong><a href="{{ page.url}}" style="color:white;">{{ meta.title }}</strong></a></h3></ion-card-title>
     <ion-card-subtitle>{{ meta.description }}</ion-card-subtitle>
  </ion-card-header>
   <ion-img src="{{ meta.cover }}"></ion-img>
  <ion-card-content class="ion-padding">
    {{ content  }}
    </ion-card-content>
</ion-card>